@font-face{
    src: url("SUPER BOLD.ttf");
    font-family: "super";
}


*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url("imageref/MarketView.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100%;
}

::-webkit-scrollbar{
    width: 5px;
}

::-webkit-slider-thumb{
    color: #1111;
}

li, a, button{
    font-family: 'Bebas Neue', cursive;
    font-weight: 500;
    font-size: 22px;
    color: #ffd000;
    text-decoration: none;
}

header{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 30px 10%;
    background-color: #00191a;
}


.logo{
    font-family: "super";
    font-size: 25px;
    cursor: pointer;
    margin-right: auto;
    transition: all 0.3s ease 0;
}

.logo:hover{
    color: #00c932;
}


.nav-links{
    list-style: none;
}

.nav-links li{
    display: inline-block;
    padding: 0px 20px;
}

.nav-links li a{
    transition: all 0.3s ease 0s;
}

.nav-links li a:hover{
    color: #00c932;
}

.menu{
    display: none;
}

button{
    padding: 9px 25px;
    background-color: #005214;
    border: none;
    border-radius: 50px;  
    cursor: pointer;
    transition: all 0.3s ease 0;
}

button:hover{
    background-color: #ffd000;
    color: #005214;
}

.menu-btn{
    padding: 9px 10px;
    background-color: #005214;
    border-radius: 0;
    color: #ffd000;    
}

@media only screen and (max-width: 800px){

    .a-btn{
        display: none;
    }

    .nav-links, .cta{
        display: none;
    }
    .menu{
        display: inherit;
    }
}


/*mobile nav*/

.overlay{
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    background-color: #00191a;
    overflow-x: hidden;
    transition: all 0.3s ease 0;
}

.overlay-content{
    display: flex;
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.overlay a{
    padding: 15px;
    font-size: 36px;
    display: block;
    transition: all 0.3s ease 0;
}

.overlay a:hover, .overlay a:focus{
    color: #ffd000;
}

.overlay .close{
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
}

@media screen and (max-height: 450px){
    .overlay a{
        font-size: 20px;
    }
    .overlay .close{
        font-size: 40px;
        top: 15px;
        right: 35;
    }
}